<div class="container">
    <div class="row mt-4 mr-4 justify-content-center" >
        <div class="card col-lg-3 col-md-6 ml-2 bg-div" style="width: 18rem; ">
            <img [src]="pokemonInyectado.pokemon.ThumbnailImage" class="card-img-top bg mt-3" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{pokemonInyectado.pokemon.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">N°: {{pokemonInyectado.pokemon.number}}</h6>
                <p class="card-title">{{pokemonInyectado.pokemon.type}}</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Id: {{pokemonInyectado.pokemon.id}}</li>
                    <li class="list-group-item">Peso: {{pokemonInyectado.pokemon.weight}}</li>
                    <li class="list-group-item">Debilidades: {{pokemonInyectado.pokemon.weakness}}</li>
                    <li class="list-group-item">Altura: {{pokemonInyectado.pokemon.height}}</li>
                </ul>
                <a class="btn btn-primary" (click)="agregarFav(pokemonInyectado.pokemon)">Agregar a favoritos</a>
            </div>
        </div>
    </div>
</div>

