<div class="container">
    <div class=" col-lg-3">
        <button (click)="agregarFav(pokemonInyectado.pokemon)">Agregar a favoritos</button>
        <img [src]="pokemonInyectado.pokemon.ThumbnailImage" class="card-img-top" alt="...">
        <p>{{pokemonInyectado.pokemon.detailPageURL}}</p>
        <p>{{pokemonInyectado.pokemon.weight}}</p>
        <p>{{pokemonInyectado.pokemon.weakness}}</p>
        <p>{{pokemonInyectado.pokemon.number}}</p>
        <p>{{pokemonInyectado.pokemon.height}}</p>
        <p>{{pokemonInyectado.pokemon.collectibles_slug}}</p>
        <p>{{pokemonInyectado.pokemon.featured}}</p>
        <p>{{pokemonInyectado.pokemon.slug}}</p>
        <p>{{pokemonInyectado.pokemon.name}}</p>
        <p>{{pokemonInyectado.pokemon.ThumbnailAltText}}</p>
        <p>{{pokemonInyectado.pokemon.ThumbnailImage}}</p>
        <p>{{pokemonInyectado.pokemon.id}}</p>
        <p>{{pokemonInyectado.pokemon.type}}</p>
    </div>
</div>

